{{#> body}}

  {{#component 'hello/foo' name=name address=(hash street="Zeeba str") as |cmp|}}
    <div class="row">{{cmp.name}}</div>
    <div class="row">Hey {{cmp.description}}!</div>
    <div class="row">{{name}}</div>
  {{/component}}

  {{#component 'hello/bar'}}
    {{component 'hello/foo' name=name address=(hash street="Zeeba str")}}
  {{/component}}

{{/body}}